.sidebar {
    width: 10vw; /* Ancho de la barra lateral */
    background-color: rgb(196, 255, 196);
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
  
.map {
    flex: 1;
}

.linea {
    height: 1.5px;
    background-color: black;
    margin-bottom: 10px;
}