.app-container{
  display: flex;
  height: 100vh;
  width: auto;
}

.leaflet-container{
  height: 100vh;
  width: auto;
}

.map-container{
  width: auto;
  flex-grow: 1;
}

.sidebar{
  width: auto;
}

.btn {
  background-color: rgb(111, 168, 99);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(75, 112, 68);
}